*{
    margin: 0;
    padding: 0;
}

.containe_corpo{
    width: 1200px;
    height: 1800px;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
    padding-top: 50px;
}

#superHeroes{
    width: 1000px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    font-size: 50px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    margin-bottom: 100px;
}

#caixa-pesquisa{
    width: 500px;
    height: 54px;
    /* background-color: chocolate;  */
    margin-left: 650px;
    margin-bottom: 50px;
    border-radius: 27px;
}

#pesquisa, #input-pesquisa{
    width: 440px;
    height: 50px;
    /* background-color: indianred; */
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
    float: left;
    font-size: 22px;
    padding-left: 10px;
    box-sizing: border-box;
}


#lupa{
    width: 60px;
    height: 50px;
    background-color: black;
    float: left;
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
    background-image:url(icones/tools-and-utensils.png);
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center;
}

.heroi_nome{
    width: 700px;
    height: 80px;
    line-height: 80px;
    font-size: 40px;
    text-align: center;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
}


#imagemDoHeroe{
    width: 500px;
    height: 600px;
    background-color: #696969;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    /* float: left; */
}

#informacoes{
    width: 650px;
    min-height: 500px;
    height: auto;
    /* float: left; */
    background-color: crimson;
}

#powerStats{
    width: 300px;
    min-height: 10px;
    height: auto;
    background-color: #696969;
    margin-left: 30px;
    /* border: 2px solid black; */
    float: left;
    margin-right: 30px;
    /* padding-left: 20px; */
    box-sizing: border-box;
}

.titulo_powerStats{
    width: 300px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background-color: black;
    color: white;
}

.texto{
    width: 300px;
    height: 7s0px;
    line-height: 70px;
    color: white;
    font-size: 30px;
    padding-left: 20px;
    box-sizing: border-box;
    /* float: left; */
}

.imagem{
    width: 500px;
    height: 600px;
}

.biography{
    width: 500px;
    min-height: 6px;
    height: auto;
    background-color: #696969;
    float: left;
    /* margin-left: 20px; */
}

.biography_item{
    width: 500px;
    min-height: 70px;
    height: auto    ;
    line-height: 70px;
    /* background-color: indianred; */
    color: white;
    font-size: 30px;
    padding-left: 20px;
    box-sizing: border-box;
    float: left;
    /* background-color: khaki; */

}

.titulo_biography{
    width: inherit;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background-color: black;
    color: white;
}