.spinner{
    /* margin-top: 20px; */
    width: 30px;
    height: 30px;
    /* margin-left: auto;
    margin-right: auto; */
    
    animation: spin 2s linear infinite;
    border-radius: 100px ;
}

.blue{
    border: 5px solid lightblue;
    border-top-color: blue;
}

.red{
    border: 5px solid lightsalmon;
    border-top-color: red;
}

.gold{
    border: 5px solid khaki;
    border-top-color: goldenrod;
}


@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}