.containerT{
    display: none;
    flex-direction: column;
}

.aprovado{
    color: green;
    margin: 5px;
    border: none;
}
.reprovado{
    color: red;
    margin: 5px;
    border: none;
}

.containerT{
    width: 500px;
    height: 500px;
    margin: auto;
}

.exibir{
    display: grid;
}